table {
    background-color: lightskyblue; 
    border-radius: 15px;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 100%;
    color: white;
    font-weight: bold;
}

thead>th:first-child{
    padding: 15px;
}

td, th {
    border: 2px solid lightseagreen;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: rgb(227, 247, 253);
    color: darkturquoise;
}

.userDelete{
    background-color: lightcoral;
    padding: 10px 30px;
    color: white;
    border-radius: 13px;
}

.userDelete:hover{
    background-color: lightseagreen;
    color: white;
}


.userProfilePicture{
    width: 200px;
    height: 200px;
}